# Data Collection Module 7: World Bank API for Poverty Headcount Ratio Data

<b>API Details:</b>

The World Bank API is an invaluable resource for accessing a broad range of global development data, including key indicators related to poverty such as the Poverty Headcount Ratio. The World Development Indicators dataset provided by the API includes the Poverty Headcount Ratio at both national and international poverty lines, offering insights into the percentage of the population living below the poverty threshold across over 200 countries and territories. This data encompasses historical records along with the most recent estimates, enabling a comprehensive analysis of poverty trends worldwide.

<b>Data on Poverty Headcount Ratio:</b>

Indicator for Poverty Headcount Ratio at National Poverty Lines (% of population): "Poverty headcount ratio at national poverty lines (% of population)" (Indicator Code: SI.POV.NAHC).
Indicator for Poverty Headcount Ratio at $1.90/day (2011 PPP): "Poverty headcount ratio at $1.90 a day (2011 PPP) (% of population)" (Indicator Code: SI.POV.DDAY).


<b>Data Update Frequency:</b>

Poverty data within the World Development Indicators is updated periodically as new surveys and statistical information become available. This ensures the dataset remains up-to-date, providing an accurate portrayal of poverty levels and trends on both a global scale and within specific countries.

<b>Accessing the API:</b>

Public access to the World Bank API allows for the easy integration of critical poverty statistics into projects aimed at analyzing, visualizing, or reporting on poverty worldwide, without the need for an API key.

<b>API Documentation:</b> https://datahelpdesk.worldbank.org/knowledgebase/articles/898581-api-documentation

<b>Process:</b> This module involves using the World Bank API to collect relevant data on the Poverty Headcount Ratio, followed by preprocessing this data to align with specific project needs, and finally organizing the refined dataset for subsequent analysis, visualization, or reporting purposes.

### `Goal`: Assemble an up-to-date and comprehensive dataset on global poverty statistics.

In [60]:
# Code snippet for data collection from the API
import requests
import pandas as pd

def fetch_poverty_data(indicator_code, country_code="all"):
    """Fetch Poverty Headcount Ratio data for a given country code and indicator."""
    url = f"http://api.worldbank.org/v2/country/{country_code}/indicator/{indicator_code}?format=json&date=1960:2023&per_page=10000"
    response = requests.get(url)
    data = response.json()

    if len(data) == 2 and isinstance(data[1], list):
        # Extract the indicator code or name from the dictionary for each row
        for row in data[1]:
            row['indicator'] = row['indicator']['id']
        return data[1]
    else:
        return None

# Poverty Headcount Ratio at $1.90 a day (2011 PPP) (% of population) - Indicator Code: SI.POV.DDAY
poverty_data_all_countries = fetch_poverty_data("SI.POV.DDAY", "all")
poverty_data_world = fetch_poverty_data("SI.POV.DDAY", "WLD")

# Combine Poverty Headcount Ratio data
combined_data = poverty_data_all_countries + poverty_data_world

# Converting to DataFrame
df_poverty = pd.DataFrame(combined_data)

# Filter for necessary columns and rename them
df_poverty = df_poverty[['countryiso3code', 'date', 'value', 'indicator']]
df_poverty.columns = ['Country Code', 'Year', 'Poverty Headcount Ratio', 'Indicator']

# Pivot the dataset to have 'Year' as rows, 'Country Code' as columns, and 'Poverty Headcount Ratio' as values
df_poverty_pivot = df_poverty.pivot_table(index='Year', columns='Country Code', values='Poverty Headcount Ratio')

# Saving the data to CSV files
csv_file_path_poverty = 'world_poverty_headcount_ratio_data.csv'
df_poverty_pivot.to_csv(csv_file_path_poverty)

print("Poverty headcount ratio data has been saved.")

Poverty headcount ratio data has been saved.

## Data Preprocessing

In [61]:
df = pd.read_csv(csv_file_path_poverty)
df.tail(10)

,Year,Unnamed: 1,AGO,ALB,ARG,ARM,AUS,AUT,AZE,BDI,...,LCN,LMY,MEA,SAS,SLV,SSF,SWZ,TCD,WLD,XKX
41,2014,16.100000,NaN,1.0,0.6,1.4,0.5,0.2,NaN,NaN,...,4.3,13.1,2.8,17.9,3.4,38.1,NaN,NaN,11.1,1.1
42,2015,16.050000,NaN,0.1,NaN,1.1,NaN,0.7,NaN,NaN,...,4.1,12.6,3.7,16.6,2.3,38.2,NaN,NaN,10.6,0.8
43,2016,15.850000,NaN,0.1,0.7,1.1,0.5,0.7,NaN,NaN,...,4.3,12.3,4.5,15.8,2.6,38.0,36.1,NaN,10.4,0.8
44,2017,15.250000,NaN,0.4,0.6,0.8,NaN,0.3,NaN,NaN,...,4.3,11.3,4.7,12.6,2.2,37.5,NaN,NaN,9.6,0.4
45,2018,4.866667,31.1,0.0,1.0,1.3,0.5,0.6,NaN,NaN,...,4.2,10.4,4.7,10.1,1.8,36.9,NaN,30.9,8.8,NaN
46,2019,4.833333,NaN,0.0,1.1,1.0,NaN,0.6,NaN,NaN,...,4.2,10.5,NaN,10.6,1.4,36.7,NaN,NaN,8.9,NaN
47,2020,5.333333,NaN,0.0,1.2,0.4,NaN,0.7,NaN,62.1,...,3.8,11.5,NaN,13.0,NaN,NaN,NaN,NaN,9.7,NaN
48,2021,5.033333,NaN,NaN,0.9,0.5,NaN,0.5,NaN,NaN,...,4.5,11.2,NaN,11.5,3.6,NaN,NaN,NaN,9.5,NaN
49,2022,4.566667,NaN,NaN,0.6,0.8,NaN,NaN,NaN,NaN,...,3.5,10.6,NaN,9.7,3.4,NaN,NaN,30.8,9.0,NaN
50,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
# Dropping the unnecessary column
df.drop('Unnamed: 1', axis = 1, inplace = True)

# Converting country codes to country names for readability

# Fetch country information from the World Bank API
url = "http://api.worldbank.org/v2/country?per_page=300&format=json"
response = requests.get(url)
countries_data = response.json()

# Extract relevant data for mapping codes to names, add 'WLD' manually
countries = {country['id']: country['name'] for country in countries_data[1]}
countries['WLD'] = 'World'

In [67]:
countries

{'ABW': 'Aruba',
 'AFE': 'Africa Eastern and Southern',
 'AFG': 'Afghanistan',
 'AFR': 'Africa',
 'AFW': 'Africa Western and Central',
 'AGO': 'Angola',
 'ALB': 'Albania',
 'AND': 'Andorra',
 'ARB': 'Arab World',
 'ARE': 'United Arab Emirates',
 'ARG': 'Argentina',
 'ARM': 'Armenia',
 'ASM': 'American Samoa',
 'ATG': 'Antigua and Barbuda',
 'AUS': 'Australia',
 'AUT': 'Austria',
 'AZE': 'Azerbaijan',
 'BDI': 'Burundi',
 'BEA': 'East Asia & Pacific (IBRD-only countries)',
 'BEC': 'Europe & Central Asia (IBRD-only countries)',
 'BEL': 'Belgium',
 'BEN': 'Benin',
 'BFA': 'Burkina Faso',
 'BGD': 'Bangladesh',
 'BGR': 'Bulgaria',
 'BHI': 'IBRD countries classified as high income',
 'BHR': 'Bahrain',
 'BHS': 'Bahamas, The',
 'BIH': 'Bosnia and Herzegovina',
 'BLA': 'Latin America & the Caribbean (IBRD-only countries)',
 'BLR': 'Belarus',
 'BLZ': 'Belize',
 'BMN': 'Middle East & North Africa (IBRD-only countries)',
 'BMU': 'Bermuda',
 'BOL': 'Bolivia',
 'BRA': 'Brazil',
 'BRB': 'Barbados',
 'BRN': 'Brunei Darussalam',
 'BSS': 'Sub-Saharan Africa (IBRD-only countries)',
 'BTN': 'Bhutan',
 'BWA': 'Botswana',
 'CAA': 'Sub-Saharan Africa (IFC classification)',
 'CAF': 'Central African Republic',
 'CAN': 'Canada',
 'CEA': 'East Asia and the Pacific (IFC classification)',
 'CEB': 'Central Europe and the Baltics',
 'CEU': 'Europe and Central Asia (IFC classification)',
 'CHE': 'Switzerland',
 'CHI': 'Channel Islands',
 'CHL': 'Chile',
 'CHN': 'China',
 'CIV': "Cote d'Ivoire",
 'CLA': 'Latin America and the Caribbean (IFC classification)',
 'CME': 'Middle East and North Africa (IFC classification)',
 'CMR': 'Cameroon',
 'COD': 'Congo, Dem. Rep.',
 'COG': 'Congo, Rep.',
 'COL': 'Colombia',
 'COM': 'Comoros',
 'CPV': 'Cabo Verde',
 'CRI': 'Costa Rica',
 'CSA': 'South Asia (IFC classification)',
 'CSS': 'Caribbean small states',
 'CUB': 'Cuba',
 'CUW': 'Curacao',
 'CYM': 'Cayman Islands',
 'CYP': 'Cyprus',
 'CZE': 'Czechia',
 'DEA': 'East Asia & Pacific (IDA-eligible countries)',
 'DEC': 'Europe & Central Asia (IDA-eligible countries)',
 'DEU': 'Germany',
 'DJI': 'Djibouti',
 'DLA': 'Latin America & the Caribbean (IDA-eligible countries)',
 'DMA': 'Dominica',
 'DMN': 'Middle East & North Africa (IDA-eligible countries)',
 'DNK': 'Denmark',
 'DNS': 'IDA countries in Sub-Saharan Africa not classified as fragile situations ',
 'DOM': 'Dominican Republic',
 'DSA': 'South Asia (IDA-eligible countries)',
 'DSF': 'IDA countries in Sub-Saharan Africa classified as fragile situations ',
 'DSS': 'Sub-Saharan Africa (IDA-eligible countries)',
 'DZA': 'Algeria',
 'EAP': 'East Asia & Pacific (excluding high income)',
 'EAR': 'Early-demographic dividend',
 'EAS': 'East Asia & Pacific',
 'ECA': 'Europe & Central Asia (excluding high income)',
 'ECS': 'Europe & Central Asia',
 'ECU': 'Ecuador',
 'EGY': 'Egypt, Arab Rep.',
 'EMU': 'Euro area',
 'ERI': 'Eritrea',
 'ESP': 'Spain',
 'EST': 'Estonia',
 'ETH': 'Ethiopia',
 'EUU': 'European Union',
 'FCS': 'Fragile and conflict affected situations',
 'FIN': 'Finland',
 'FJI': 'Fiji',
 'FRA': 'France',
 'FRO': 'Faroe Islands',
 'FSM': 'Micronesia, Fed. Sts.',
 'FXS': 'IDA countries classified as fragile situations, excluding Sub-Saharan Africa',
 'GAB': 'Gabon',
 'GBR': 'United Kingdom',
 'GEO': 'Georgia',
 'GHA': 'Ghana',
 'GIB': 'Gibraltar',
 'GIN': 'Guinea',
 'GMB': 'Gambia, The',
 'GNB': 'Guinea-Bissau',
 'GNQ': 'Equatorial Guinea',
 'GRC': 'Greece',
 'GRD': 'Grenada',
 'GRL': 'Greenland',
 'GTM': 'Guatemala',
 'GUM': 'Guam',
 'GUY': 'Guyana',
 'HIC': 'High income',
 'HKG': 'Hong Kong SAR, China',
 'HND': 'Honduras',
 'HPC': 'Heavily indebted poor countries (HIPC)',
 'HRV': 'Croatia',
 'HTI': 'Haiti',
 'HUN': 'Hungary',
 'IBB': 'IBRD, including blend',
 'IBD': 'IBRD only',
 'IBT': 'IDA & IBRD total',
 'IDA': 'IDA total',
 'IDB': 'IDA blend',
 'IDN': 'Indonesia',
 'IDX': 'IDA only',
 'IMN': 'Isle of Man',
 'IND': 'India',
 'INX': 'Not classified',
 'IRL': 'Ireland',
 'IRN': 'Iran, Islamic Rep.',
 'IRQ': 'Iraq',
 'ISL': 'Iceland',
 'ISR': 'Israel',
 'ITA': 'Italy',
 'JAM': 'Jamaica',
 'JOR': 'Jordan',
 'JPN': 'Japan',
 'KAZ': 'Kazakhstan',
 'KEN': 'Kenya',
 'KGZ': 'Kyrgyz Republic',
 'KHM': 'Cambodia',
 'KIR': 'Kiribati',
 'KNA': 'St. Kitts and Nevis',
 'KOR': 'Korea, Rep.',
 'KWT': 'Kuwait',
 'LAC': 'Latin America & Caribbean (excluding high income)',
 'LAO': 'Lao PDR',
 'LBN': 'Lebanon',
 'LBR': 'Liberia',
 'LBY': 'Libya',
 'LCA': 'St. Lucia',
 'LCN': 'Latin America & Caribbean ',
 'LDC': 'Least developed countries: UN classification',
 'LIC': 'Low income',
 'LIE': 'Liechtenstein',
 'LKA': 'Sri Lanka',
 'LMC': 'Lower middle income',
 'LMY': 'Low & middle income',
 'LSO': 'Lesotho',
 'LTE': 'Late-demographic dividend',
 'LTU': 'Lithuania',
 'LUX': 'Luxembourg',
 'LVA': 'Latvia',
 'MAC': 'Macao SAR, China',
 'MAF': 'St. Martin (French part)',
 'MAR': 'Morocco',
 'MCO': 'Monaco',
 'MDA': 'Moldova',
 'MDE': 'Middle East (developing only)',
 'MDG': 'Madagascar',
 'MDV': 'Maldives',
 'MEA': 'Middle East & North Africa',
 'MEX': 'Mexico',
 'MHL': 'Marshall Islands',
 'MIC': 'Middle income',
 'MKD': 'North Macedonia',
 'MLI': 'Mali',
 'MLT': 'Malta',
 'MMR': 'Myanmar',
 'MNA': 'Middle East & North Africa (excluding high income)',
 'MNE': 'Montenegro',
 'MNG': 'Mongolia',
 'MNP': 'Northern Mariana Islands',
 'MOZ': 'Mozambique',
 'MRT': 'Mauritania',
 'MUS': 'Mauritius',
 'MWI': 'Malawi',
 'MYS': 'Malaysia',
 'NAC': 'North America',
 'NAF': 'North Africa',
 'NAM': 'Namibia',
 'NCL': 'New Caledonia',
 'NER': 'Niger',
 'NGA': 'Nigeria',
 'NIC': 'Nicaragua',
 'NLD': 'Netherlands',
 'NOR': 'Norway',
 'NPL': 'Nepal',
 'NRS': 'Non-resource rich Sub-Saharan Africa countries',
 'NRU': 'Nauru',
 'NXS': 'IDA countries not classified as fragile situations, excluding Sub-Saharan Africa',
 'NZL': 'New Zealand',
 'OED': 'OECD members',
 'OMN': 'Oman',
 'OSS': 'Other small states',
 'PAK': 'Pakistan',
 'PAN': 'Panama',
 'PER': 'Peru',
 'PHL': 'Philippines',
 'PLW': 'Palau',
 'PNG': 'Papua New Guinea',
 'POL': 'Poland',
 'PRE': 'Pre-demographic dividend',
 'PRI': 'Puerto Rico',
 'PRK': "Korea, Dem. People's Rep.",
 'PRT': 'Portugal',
 'PRY': 'Paraguay',
 'PSE': 'West Bank and Gaza',
 'PSS': 'Pacific island small states',
 'PST': 'Post-demographic dividend',
 'PYF': 'French Polynesia',
 'QAT': 'Qatar',
 'ROU': 'Romania',
 'RRS': 'Resource rich Sub-Saharan Africa countries',
 'RUS': 'Russian Federation',
 'RWA': 'Rwanda',
 'SAS': 'South Asia',
 'SAU': 'Saudi Arabia',
 'SDN': 'Sudan',
 'SEN': 'Senegal',
 'SGP': 'Singapore',
 'SLB': 'Solomon Islands',
 'SLE': 'Sierra Leone',
 'SLV': 'El Salvador',
 'SMR': 'San Marino',
 'SOM': 'Somalia',
 'SRB': 'Serbia',
 'SSA': 'Sub-Saharan Africa (excluding high income)',
 'SSD': 'South Sudan',
 'SSF': 'Sub-Saharan Africa ',
 'SST': 'Small states',
 'STP': 'Sao Tome and Principe',
 'SUR': 'Suriname',
 'SVK': 'Slovak Republic',
 'SVN': 'Slovenia',
 'SWE': 'Sweden',
 'SWZ': 'Eswatini',
 'SXM': 'Sint Maarten (Dutch part)',
 'SXZ': 'Sub-Saharan Africa excluding South Africa',
 'SYC': 'Seychelles',
 'SYR': 'Syrian Arab Republic',
 'TCA': 'Turks and Caicos Islands',
 'TCD': 'Chad',
 'TEA': 'East Asia & Pacific (IDA & IBRD countries)',
 'TEC': 'Europe & Central Asia (IDA & IBRD countries)',
 'TGO': 'Togo',
 'THA': 'Thailand',
 'TJK': 'Tajikistan',
 'TKM': 'Turkmenistan',
 'TLA': 'Latin America & the Caribbean (IDA & IBRD countries)',
 'TLS': 'Timor-Leste',
 'TMN': 'Middle East & North Africa (IDA & IBRD countries)',
 'TON': 'Tonga',
 'TSA': 'South Asia (IDA & IBRD)',
 'TSS': 'Sub-Saharan Africa (IDA & IBRD countries)',
 'TTO': 'Trinidad and Tobago',
 'TUN': 'Tunisia',
 'TUR': 'Turkiye',
 'TUV': 'Tuvalu',
 'TZA': 'Tanzania',
 'UGA': 'Uganda',
 'UKR': 'Ukraine',
 'UMC': 'Upper middle income',
 'URY': 'Uruguay',
 'USA': 'United States',
 'UZB': 'Uzbekistan',
 'VCT': 'St. Vincent and the Grenadines',
 'VEN': 'Venezuela, RB',
 'VGB': 'British Virgin Islands',
 'VIR': 'Virgin Islands (U.S.)',
 'VNM': 'Viet Nam',
 'VUT': 'Vanuatu',
 'WLD': 'World',
 'WSM': 'Samoa',
 'XKX': 'Kosovo',
 'XZN': 'Sub-Saharan Africa excluding South Africa and Nigeria',
 'YEM': 'Yemen, Rep.',
 'ZAF': 'South Africa',
 'ZMB': 'Zambia',
 'ZWE': 'Zimbabwe'}

In [63]:
# Function to rename columns based on the mapping
def rename_columns(df, mapping):
    # Create a new mapping for the existing columns in the DataFrame
    new_columns = {col: mapping.get(col, col) for col in df.columns}
    # Rename the columns using the new mapping
    df.rename(columns=new_columns, inplace=True)

# Rename columns in df1 and df2
rename_columns(df, countries)

In [64]:
df.tail()

,Year,Angola,Albania,Argentina,Armenia,Australia,Austria,Azerbaijan,Burundi,Belgium,...,Latin America & Caribbean,Low & middle income,Middle East & North Africa,South Asia,El Salvador,Sub-Saharan Africa,Eswatini,Chad,World,Kosovo
46,2019,NaN,0.0,1.1,1.0,NaN,0.6,NaN,NaN,0.1,...,4.2,10.5,NaN,10.6,1.4,36.7,NaN,NaN,8.9,NaN
47,2020,NaN,0.0,1.2,0.4,NaN,0.7,NaN,62.1,0.1,...,3.8,11.5,NaN,13.0,NaN,NaN,NaN,NaN,9.7,NaN
48,2021,NaN,NaN,0.9,0.5,NaN,0.5,NaN,NaN,0.0,...,4.5,11.2,NaN,11.5,3.6,NaN,NaN,NaN,9.5,NaN
49,2022,NaN,NaN,0.6,0.8,NaN,NaN,NaN,NaN,NaN,...,3.5,10.6,NaN,9.7,3.4,NaN,NaN,30.8,9.0,NaN
50,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
df[['Year', 'India', 'World']]

    Year  India  World
0   1970    NaN    NaN
1   1971    NaN    NaN
2   1973    NaN    NaN
3   1975    NaN    NaN
4   1977   63.5    NaN
5   1978    NaN    NaN
6   1979    NaN    NaN
7   1980    NaN    NaN
8   1981    NaN   43.8
9   1982    NaN   43.2
10  1983   56.6   42.5
11  1984    NaN   41.1
12  1985    NaN   39.7
13  1986    NaN   38.4
14  1987   50.9   37.5
15  1988    NaN   35.7
16  1989    NaN   38.2
17  1990    NaN   37.9
18  1991    NaN   37.3
19  1992    NaN   36.3
20  1993   48.0   35.6
21  1994    NaN   33.9
22  1995    NaN   32.7
23  1996    NaN   31.1
24  1997    NaN   30.9
25  1998    NaN   31.2
26  1999    NaN   30.3
27  2000    NaN   29.2
28  2001    NaN   28.3
29  2002    NaN   26.9
30  2003    NaN   25.3
31  2004   40.6   23.4
32  2005    NaN   21.6
33  2006    NaN   20.7
34  2007    NaN   19.4
35  2008    NaN   18.6
36  2009   33.5   17.6
37  2010    NaN   15.9
38  2011   22.9   14.0
39  2012    NaN   13.1
40  2013    NaN   11.6
41  2014    NaN   11.1
42  2015   18.8   10.6
43  2016   18.1   10.4
44  2017   13.4    9.6
45  2018   11.1    8.8
46  2019   13.2    8.9
47  2020   15.5    9.7
48  2021   12.9    9.5
49  2022    NaN    9.0
50  2023    NaN    NaN

In [66]:
df.to_csv(csv_file_path_poverty)