# Data Collection Module 6: World Bank API for Unemployment Data

<b>API Details:</b>

The World Bank API grants access to a vast array of global economic and social data, including key labor market indicators such as unemployment rates, through its World Development Indicators dataset. This comprehensive dataset includes the unemployment rate, representing the percentage of the labor force that is without work but available for and seeking employment, across over 200 countries and territories, providing both historical data and recent estimates.

<b>Data on Unemployment:</b>

Indicator for Unemployment Rate: "Unemployment, total (% of total labor force)" (Indicator Code: SL.UEM.TOTL.ZS).

<b>Data Update Frequency:</b>

Unemployment data within the World Bank's World Development Indicators is updated annually, ensuring a current and detailed overview of labor market conditions worldwide and the economic health of nations.

<b>Accessing the API:</b>

The World Bank API is publicly accessible and does not require an API key, enabling straightforward integration of critical unemployment statistics into projects aimed at analyzing, visualizing, or reporting on global and country-specific labor market trends.

<b>API Documentation:</b> https://datahelpdesk.worldbank.org/knowledgebase/articles/898581-api-documentation

<b>Process:</b> This module involves leveraging the World Bank API to collect relevant data on unemployment rates, followed by preprocessing this data to align with specific project requirements, and ultimately organizing the refined dataset for future analysis, visualization, or reporting.

Goal: Assemble an up-to-date and comprehensive dataset on global unemployment statistics.

In [1]:
# Code snippet for data collection from the API
import requests
import pandas as pd

def fetch_unemployment_data(indicator_code, country_code="all"):
    """Fetch unemployment rate data for a given country code and indicator."""
    url = f"http://api.worldbank.org/v2/country/{country_code}/indicator/{indicator_code}?format=json&date=1960:2023&per_page=10000"
    response = requests.get(url)
    data = response.json()

    if len(data) == 2 and isinstance(data[1], list):
        # Extract the indicator code or name from the dictionary for each row
        for row in data[1]:
            row['indicator'] = row['indicator']['id']
        return data[1]
    else:
        return None

# Unemployment, total (% of total labor force) - Indicator Code: SL.UEM.TOTL.ZS
unemployment_data_all_countries = fetch_unemployment_data("SL.UEM.TOTL.ZS", "all")
unemployment_data_world = fetch_unemployment_data("SL.UEM.TOTL.ZS", "WLD")

# Combine unemployment data
combined_data = unemployment_data_all_countries + unemployment_data_world

# Converting to DataFrame
df_unemployment = pd.DataFrame(combined_data)

# Filter for necessary columns and rename them
df_unemployment = df_unemployment[['countryiso3code', 'date', 'value', 'indicator']]
df_unemployment.columns = ['Country Code', 'Year', 'Unemployment Rate', 'Indicator']

# Pivot the dataset to have 'Year' as rows, 'Country Code' as columns, and 'Unemployment Rate' as values
df_unemployment_pivot = df_unemployment.pivot_table(index='Year', columns='Country Code', values='Unemployment Rate')

# Saving the data to CSV files
csv_file_path_unemployment = '/Users/hrishi/original-desktop/Data Science/Projects/Major_Project/data-collection/data/world_unemployment_data.csv'
df_unemployment_pivot.to_csv(csv_file_path_unemployment)

print("Unemployment data has been saved.")

Unemployment data has been saved.

## Data Preprocessing

In [2]:
df = pd.read_csv(csv_file_path_unemployment)
df.tail(10)

,Year,Unnamed: 1,AFE,AFG,AFW,AGO,ALB,ARB,ARG,ARM,...,SST,SWZ,TCD,TEA,TEC,TLA,TMN,TSA,TSS,WLD
23,2014,5.983684,6.884500,7.910,3.932125,16.317,18.050,11.120267,7.270,11.989,...,9.411413,23.774,0.883,4.062431,7.567357,6.204175,11.823229,6.988910,5.784343,6.022234
24,2015,5.952401,6.983064,9.002,4.197576,16.448,17.190,11.282761,7.583,12.308,...,9.251919,23.263,0.931,4.137486,7.535756,6.732944,12.257082,7.107640,5.949869,6.055028
25,2016,5.884376,7.152157,10.092,4.164130,16.577,15.420,11.076547,8.085,12.625,...,9.234971,22.720,1.022,4.054018,7.370061,7.831663,12.396321,6.922156,6.044500,6.021302
26,2017,5.777685,7.274298,11.180,4.238482,16.639,13.620,11.453840,8.350,12.914,...,8.827796,22.650,1.111,3.931583,7.017382,8.140188,12.626251,6.957783,6.152680,5.929760
27,2018,5.590956,7.237563,11.131,4.266695,16.626,12.300,11.059249,9.220,13.210,...,8.389649,22.637,1.130,3.824603,6.574347,8.044810,12.158050,6.990164,6.139889,5.768692
28,2019,5.416838,7.426777,11.082,4.277483,16.500,11.470,10.673567,9.840,12.200,...,8.236355,22.535,1.057,3.912110,6.621041,8.124764,11.385762,6.200332,6.264350,5.591542
29,2020,6.490695,7.910291,11.710,4.737501,16.698,12.833,11.975018,11.460,12.180,...,9.309683,24.769,1.684,4.391316,7.122652,10.367272,12.027818,7.503444,6.738893,6.603279
30,2021,6.020522,8.303939,12.075,4.585014,15.800,12.590,11.684176,8.740,10.010,...,9.308139,24.372,1.591,4.140853,6.748470,9.334103,11.737017,6.393257,6.933669,6.064105
31,2022,5.228406,7.748144,14.100,3.809080,14.478,11.629,10.732883,6.805,8.588,...,8.716090,22.643,1.100,4.253778,5.597056,7.002037,10.857603,5.050291,6.293733,5.267477
32,2023,5.150237,7.740008,15.378,3.664500,14.223,11.083,10.758283,6.841,8.378,...,8.509249,22.190,0.992,4.209790,5.143420,6.275090,10.757540,4.949247,6.235160,5.123161

In [3]:
# Dropping the unnecessary column
df.drop('Unnamed: 1', axis = 1, inplace = True)

# Converting country codes to country names for readability

# Fetch country information from the World Bank API
url = "http://api.worldbank.org/v2/country?per_page=300&format=json"
response = requests.get(url)
countries_data = response.json()

# Extract relevant data for mapping codes to names, add 'WLD' manually
countries = {country['id']: country['name'] for country in countries_data[1]}
countries['WLD'] = 'World'

In [4]:
print(f'Mapping of Codes to Countries: \n {countries}')

Mapping of Codes to Countries:
 {'ABW': 'Aruba', 'AFE': 'Africa Eastern and Southern', 'AFG': 'Afghanistan', 'AFR': 'Africa', 'AFW': 'Africa Western and Central', 'AGO': 'Angola', 'ALB': 'Albania', 'AND': 'Andorra', 'ARB': 'Arab World', 'ARE': 'United Arab Emirates', 'ARG': 'Argentina', 'ARM': 'Armenia', 'ASM': 'American Samoa', 'ATG': 'Antigua and Barbuda', 'AUS': 'Australia', 'AUT': 'Austria', 'AZE': 'Azerbaijan', 'BDI': 'Burundi', 'BEA': 'East Asia & Pacific (IBRD-only countries)', 'BEC': 'Europe & Central Asia (IBRD-only countries)', 'BEL': 'Belgium', 'BEN': 'Benin', 'BFA': 'Burkina Faso', 'BGD': 'Bangladesh', 'BGR': 'Bulgaria', 'BHI': 'IBRD countries classified as high income', 'BHR': 'Bahrain', 'BHS': 'Bahamas, The', 'BIH': 'Bosnia and Herzegovina', 'BLA': 'Latin America & the Caribbean (IBRD-only countries)', 'BLR': 'Belarus', 'BLZ': 'Belize', 'BMN': 'Middle East & North Africa (IBRD-only countries)', 'BMU': 'Bermuda', 'BOL': 'Bolivia', 'BRA': 'Brazil', 'BRB': 'Barbados', 'BRN': 'Brunei Darussalam', 'BSS': 'Sub-Saharan Africa (IBRD-only countries)', 'BTN': 'Bhutan', 'BWA': 'Botswana', 'CAA': 'Sub-Saharan Africa (IFC classification)', 'CAF': 'Central African Republic', 'CAN': 'Canada', 'CEA': 'East Asia and the Pacific (IFC classification)', 'CEB': 'Central Europe and the Baltics', 'CEU': 'Europe and Central Asia (IFC classification)', 'CHE': 'Switzerland', 'CHI': 'Channel Islands', 'CHL': 'Chile', 'CHN': 'China', 'CIV': "Cote d'Ivoire", 'CLA': 'Latin America and the Caribbean (IFC classification)', 'CME': 'Middle East and North Africa (IFC classification)', 'CMR': 'Cameroon', 'COD': 'Congo, Dem. Rep.', 'COG': 'Congo, Rep.', 'COL': 'Colombia', 'COM': 'Comoros', 'CPV': 'Cabo Verde', 'CRI': 'Costa Rica', 'CSA': 'South Asia (IFC classification)', 'CSS': 'Caribbean small states', 'CUB': 'Cuba', 'CUW': 'Curacao', 'CYM': 'Cayman Islands', 'CYP': 'Cyprus', 'CZE': 'Czechia', 'DEA': 'East Asia & Pacific (IDA-eligible countries)', 'DEC': 'Europe & Central Asia (IDA-eligible countries)', 'DEU': 'Germany', 'DJI': 'Djibouti', 'DLA': 'Latin America & the Caribbean (IDA-eligible countries)', 'DMA': 'Dominica', 'DMN': 'Middle East & North Africa (IDA-eligible countries)', 'DNK': 'Denmark', 'DNS': 'IDA countries in Sub-Saharan Africa not classified as fragile situations ', 'DOM': 'Dominican Republic', 'DSA': 'South Asia (IDA-eligible countries)', 'DSF': 'IDA countries in Sub-Saharan Africa classified as fragile situations ', 'DSS': 'Sub-Saharan Africa (IDA-eligible countries)', 'DZA': 'Algeria', 'EAP': 'East Asia & Pacific (excluding high income)', 'EAR': 'Early-demographic dividend', 'EAS': 'East Asia & Pacific', 'ECA': 'Europe & Central Asia (excluding high income)', 'ECS': 'Europe & Central Asia', 'ECU': 'Ecuador', 'EGY': 'Egypt, Arab Rep.', 'EMU': 'Euro area', 'ERI': 'Eritrea', 'ESP': 'Spain', 'EST': 'Estonia', 'ETH': 'Ethiopia', 'EUU': 'European Union', 'FCS': 'Fragile and conflict affected situations', 'FIN': 'Finland', 'FJI': 'Fiji', 'FRA': 'France', 'FRO': 'Faroe Islands', 'FSM': 'Micronesia, Fed. Sts.', 'FXS': 'IDA countries classified as fragile situations, excluding Sub-Saharan Africa', 'GAB': 'Gabon', 'GBR': 'United Kingdom', 'GEO': 'Georgia', 'GHA': 'Ghana', 'GIB': 'Gibraltar', 'GIN': 'Guinea', 'GMB': 'Gambia, The', 'GNB': 'Guinea-Bissau', 'GNQ': 'Equatorial Guinea', 'GRC': 'Greece', 'GRD': 'Grenada', 'GRL': 'Greenland', 'GTM': 'Guatemala', 'GUM': 'Guam', 'GUY': 'Guyana', 'HIC': 'High income', 'HKG': 'Hong Kong SAR, China', 'HND': 'Honduras', 'HPC': 'Heavily indebted poor countries (HIPC)', 'HRV': 'Croatia', 'HTI': 'Haiti', 'HUN': 'Hungary', 'IBB': 'IBRD, including blend', 'IBD': 'IBRD only', 'IBT': 'IDA & IBRD total', 'IDA': 'IDA total', 'IDB': 'IDA blend', 'IDN': 'Indonesia', 'IDX': 'IDA only', 'IMN': 'Isle of Man', 'IND': 'India', 'INX': 'Not classified', 'IRL': 'Ireland', 'IRN': 'Iran, Islamic Rep.', 'IRQ': 'Iraq', 'ISL': 'Iceland', 'ISR': 'Israel', 'ITA': 'Italy', 'JAM': 'Jamaica', 'JOR': 'Jordan', 'JPN': 'Japan', 'KAZ': 'Kazakhstan', 'KEN': 'Kenya', 'KGZ': 'Kyrgyz Republic', 'KHM': 'Cambodia', 'KIR': 'Kiribati', 'KNA': 'St. Kitts and Nevis', 'KOR': 'Korea, Rep.', 'KWT': 'Kuwait', 'LAC': 'Latin America & Caribbean (excluding high income)', 'LAO': 'Lao PDR', 'LBN': 'Lebanon', 'LBR': 'Liberia', 'LBY': 'Libya', 'LCA': 'St. Lucia', 'LCN': 'Latin America & Caribbean ', 'LDC': 'Least developed countries: UN classification', 'LIC': 'Low income', 'LIE': 'Liechtenstein', 'LKA': 'Sri Lanka', 'LMC': 'Lower middle income', 'LMY': 'Low & middle income', 'LSO': 'Lesotho', 'LTE': 'Late-demographic dividend', 'LTU': 'Lithuania', 'LUX': 'Luxembourg', 'LVA': 'Latvia', 'MAC': 'Macao SAR, China', 'MAF': 'St. Martin (French part)', 'MAR': 'Morocco', 'MCO': 'Monaco', 'MDA': 'Moldova', 'MDE': 'Middle East (developing only)', 'MDG': 'Madagascar', 'MDV': 'Maldives', 'MEA': 'Middle East & North Africa', 'MEX': 'Mexico', 'MHL': 'Marshall Islands', 'MIC': 'Middle income', 'MKD': 'North Macedonia', 'MLI': 'Mali', 'MLT': 'Malta', 'MMR': 'Myanmar', 'MNA': 'Middle East & North Africa (excluding high income)', 'MNE': 'Montenegro', 'MNG': 'Mongolia', 'MNP': 'Northern Mariana Islands', 'MOZ': 'Mozambique', 'MRT': 'Mauritania', 'MUS': 'Mauritius', 'MWI': 'Malawi', 'MYS': 'Malaysia', 'NAC': 'North America', 'NAF': 'North Africa', 'NAM': 'Namibia', 'NCL': 'New Caledonia', 'NER': 'Niger', 'NGA': 'Nigeria', 'NIC': 'Nicaragua', 'NLD': 'Netherlands', 'NOR': 'Norway', 'NPL': 'Nepal', 'NRS': 'Non-resource rich Sub-Saharan Africa countries', 'NRU': 'Nauru', 'NXS': 'IDA countries not classified as fragile situations, excluding Sub-Saharan Africa', 'NZL': 'New Zealand', 'OED': 'OECD members', 'OMN': 'Oman', 'OSS': 'Other small states', 'PAK': 'Pakistan', 'PAN': 'Panama', 'PER': 'Peru', 'PHL': 'Philippines', 'PLW': 'Palau', 'PNG': 'Papua New Guinea', 'POL': 'Poland', 'PRE': 'Pre-demographic dividend', 'PRI': 'Puerto Rico', 'PRK': "Korea, Dem. People's Rep.", 'PRT': 'Portugal', 'PRY': 'Paraguay', 'PSE': 'West Bank and Gaza', 'PSS': 'Pacific island small states', 'PST': 'Post-demographic dividend', 'PYF': 'French Polynesia', 'QAT': 'Qatar', 'ROU': 'Romania', 'RRS': 'Resource rich Sub-Saharan Africa countries', 'RUS': 'Russian Federation', 'RWA': 'Rwanda', 'SAS': 'South Asia', 'SAU': 'Saudi Arabia', 'SDN': 'Sudan', 'SEN': 'Senegal', 'SGP': 'Singapore', 'SLB': 'Solomon Islands', 'SLE': 'Sierra Leone', 'SLV': 'El Salvador', 'SMR': 'San Marino', 'SOM': 'Somalia', 'SRB': 'Serbia', 'SSA': 'Sub-Saharan Africa (excluding high income)', 'SSD': 'South Sudan', 'SSF': 'Sub-Saharan Africa ', 'SST': 'Small states', 'STP': 'Sao Tome and Principe', 'SUR': 'Suriname', 'SVK': 'Slovak Republic', 'SVN': 'Slovenia', 'SWE': 'Sweden', 'SWZ': 'Eswatini', 'SXM': 'Sint Maarten (Dutch part)', 'SXZ': 'Sub-Saharan Africa excluding South Africa', 'SYC': 'Seychelles', 'SYR': 'Syrian Arab Republic', 'TCA': 'Turks and Caicos Islands', 'TCD': 'Chad', 'TEA': 'East Asia & Pacific (IDA & IBRD countries)', 'TEC': 'Europe & Central Asia (IDA & IBRD countries)', 'TGO': 'Togo', 'THA': 'Thailand', 'TJK': 'Tajikistan', 'TKM': 'Turkmenistan', 'TLA': 'Latin America & the Caribbean (IDA & IBRD countries)', 'TLS': 'Timor-Leste', 'TMN': 'Middle East & North Africa (IDA & IBRD countries)', 'TON': 'Tonga', 'TSA': 'South Asia (IDA & IBRD)', 'TSS': 'Sub-Saharan Africa (IDA & IBRD countries)', 'TTO': 'Trinidad and Tobago', 'TUN': 'Tunisia', 'TUR': 'Turkiye', 'TUV': 'Tuvalu', 'TZA': 'Tanzania', 'UGA': 'Uganda', 'UKR': 'Ukraine', 'UMC': 'Upper middle income', 'URY': 'Uruguay', 'USA': 'United States', 'UZB': 'Uzbekistan', 'VCT': 'St. Vincent and the Grenadines', 'VEN': 'Venezuela, RB', 'VGB': 'British Virgin Islands', 'VIR': 'Virgin Islands (U.S.)', 'VNM': 'Viet Nam', 'VUT': 'Vanuatu', 'WLD': 'World', 'WSM': 'Samoa', 'XKX': 'Kosovo', 'XZN': 'Sub-Saharan Africa excluding South Africa and Nigeria', 'YEM': 'Yemen, Rep.', 'ZAF': 'South Africa', 'ZMB': 'Zambia', 'ZWE': 'Zimbabwe'}

In [5]:
# Function to rename columns based on the mapping
def rename_columns(df, mapping):
    # Create a new mapping for the existing columns in the DataFrame
    new_columns = {col: mapping.get(col, col) for col in df.columns}
    # Rename the columns using the new mapping
    df.rename(columns=new_columns, inplace=True)

# Rename columns in df1 and df2
rename_columns(df, countries)

In [6]:
df.tail(10)

,Year,Africa Eastern and Southern,Afghanistan,Africa Western and Central,Angola,Albania,Arab World,Argentina,Armenia,Australia,...,Small states,Eswatini,Chad,East Asia & Pacific (IDA & IBRD countries),Europe & Central Asia (IDA & IBRD countries),Latin America & the Caribbean (IDA & IBRD countries),Middle East & North Africa (IDA & IBRD countries),South Asia (IDA & IBRD),Sub-Saharan Africa (IDA & IBRD countries),World
23,2014,6.884500,7.910,3.932125,16.317,18.050,11.120267,7.270,11.989,6.080,...,9.411413,23.774,0.883,4.062431,7.567357,6.204175,11.823229,6.988910,5.784343,6.022234
24,2015,6.983064,9.002,4.197576,16.448,17.190,11.282761,7.583,12.308,6.060,...,9.251919,23.263,0.931,4.137486,7.535756,6.732944,12.257082,7.107640,5.949869,6.055028
25,2016,7.152157,10.092,4.164130,16.577,15.420,11.076547,8.085,12.625,5.710,...,9.234971,22.720,1.022,4.054018,7.370061,7.831663,12.396321,6.922156,6.044500,6.021302
26,2017,7.274298,11.180,4.238482,16.639,13.620,11.453840,8.350,12.914,5.590,...,8.827796,22.650,1.111,3.931583,7.017382,8.140188,12.626251,6.957783,6.152680,5.929760
27,2018,7.237563,11.131,4.266695,16.626,12.300,11.059249,9.220,13.210,5.300,...,8.389649,22.637,1.130,3.824603,6.574347,8.044810,12.158050,6.990164,6.139889,5.768692
28,2019,7.426777,11.082,4.277483,16.500,11.470,10.673567,9.840,12.200,5.160,...,8.236355,22.535,1.057,3.912110,6.621041,8.124764,11.385762,6.200332,6.264350,5.591542
29,2020,7.910291,11.710,4.737501,16.698,12.833,11.975018,11.460,12.180,6.460,...,9.309683,24.769,1.684,4.391316,7.122652,10.367272,12.027818,7.503444,6.738893,6.603279
30,2021,8.303939,12.075,4.585014,15.800,12.590,11.684176,8.740,10.010,5.120,...,9.308139,24.372,1.591,4.140853,6.748470,9.334103,11.737017,6.393257,6.933669,6.064105
31,2022,7.748144,14.100,3.809080,14.478,11.629,10.732883,6.805,8.588,3.700,...,8.716090,22.643,1.100,4.253778,5.597056,7.002037,10.857603,5.050291,6.293733,5.267477
32,2023,7.740008,15.378,3.664500,14.223,11.083,10.758283,6.841,8.378,3.618,...,8.509249,22.190,0.992,4.209790,5.143420,6.275090,10.757540,4.949247,6.235160,5.123161

In [7]:
df[['Year', 'India', 'World']].tail(10)

    Year  India     World
23  2014  7.976  6.022234
24  2015  7.891  6.055028
25  2016  7.808  6.021302
26  2017  7.728  5.929760
27  2018  7.650  5.768692
28  2019  6.510  5.591542
29  2020  7.860  6.603279
30  2021  6.380  6.064105
31  2022  4.822  5.267477
32  2023  4.668  5.123161

### Exporting the data

In [8]:
df.to_csv(csv_file_path_unemployment)