# Data Collection Module 1: World Bank API for Population Data

<b>API Overview:</b>

The World Bank API is a robust portal offering extensive access to a wide array of global economic, social, and demographic datasets. Among these, the yearly population estimates stand out as a critical component, providing comprehensive data for over 200 countries and territories. This information is meticulously compiled within the World Development Indicators (WDI) database, an essential resource for understanding global population trends and demographic shifts.

<b>Data Update Frequency:</b>

To ensure accuracy and relevance, the World Bank's population data undergoes annual updates. This frequency aligns well with the nature of demographic changes, offering researchers, policymakers, and the general public timely insights into population dynamics.

<b>Accessing the API:</b>

The World Bank has made this valuable data readily accessible to all, requiring no API key for access. This ease of integration significantly facilitates the incorporation of this data into various projects, ranging from academic research to policy analysis and beyond.

<b>API Documentation:</b> https://datahelpdesk.worldbank.org/knowledgebase/articles/898581-api-documentation

<b>Process:</b>
Our approach to leveraging this resource involves several key steps: accessing the World Bank API to retrieve the relevant population data, preprocessing this data to fit our specific analytical needs, and finally, organizing and storing the refined dataset. This methodical process ensures the creation of a robust and versatile dataset, ready for further analysis or visualization.

### `Goal`: Our objective is to compile a dynamic and comprehensive dataset centered on population statistics.

In [9]:
# Importing libraries
import requests
import numpy as np
import pandas as pd

### Dataset 1: Creating a real-time population dataset

In [10]:
# Code snippet for data collection from the API
def fetch_population_data(country_code):
    """Fetch population data for a given country code."""
    url = f"http://api.worldbank.org/v2/country/{country_code}/indicator/SP.POP.TOTL?format=json&date=1960:2023&per_page=10000"
    response = requests.get(url)
    data = response.json()

    if len(data) == 2 and isinstance(data[1], list):
        return data[1]
    else:
        return None

# Fetch data for all countries and the world aggregate
population_data_all_countries = fetch_population_data('all')
population_data_world = fetch_population_data('WLD')
combined_data = population_data_all_countries + population_data_world if population_data_world else population_data_all_countries

# Converting to dataframe
df = pd.DataFrame(combined_data)
df = df[['countryiso3code', 'date', 'value']]
df.columns = ['Country Code', 'Year', 'Population']

# # Convert NaN values to None for clarity, if desired
# df['Population'] = df['Population'].apply(lambda x: '{:.0f}'.format(x) if pd.notnull(x) else None)

# Drop duplicate entries based on 'Year' and 'Country Code', keeping the first
df = df.drop_duplicates(subset=['Year', 'Country Code'])

# Pivot the dataset

df_pivoted = df.pivot(index='Year', columns='Country Code', values='Population')

# Save to CSV
csv_file_path = '/Users/hrishi/original-desktop/Data Science/Projects/Major_Project/data-collection/data/world_population_data.csv'
df_pivoted.to_csv(csv_file_path)

In [11]:
df = pd.read_csv(csv_file_path)
df

,Year,Unnamed: 1,ABW,AFE,AFG,AFW,AGO,ALB,AND,ARB,...,TCD,TEA,TEC,TLA,TMN,TSA,TSS,VGB,WLD,XKX
0,1960,7.801386e+08,54608.0,130692579.0,8622466.0,97256290.0,5357195.0,1608800.0,9443.0,93359407.0,...,3028688.0,8.848112e+08,307910628.0,208929539.0,97179656.0,5.711924e+08,2.279489e+08,7850.0,3.031474e+09,947000.0
1,1961,7.899188e+08,55811.0,134169237.0,8790140.0,99314028.0,5441333.0,1659800.0,10216.0,95760348.0,...,3087657.0,8.840805e+08,312638061.0,214886940.0,99620285.0,5.847948e+08,2.334833e+08,7885.0,3.072422e+09,966000.0
2,1962,7.999229e+08,56682.0,137835590.0,8969047.0,101445032.0,5521400.0,1711319.0,11014.0,98268683.0,...,3148242.0,8.956834e+08,317365322.0,221002830.0,102159899.0,5.987843e+08,2.392806e+08,7902.0,3.126850e+09,994000.0
3,1963,8.098317e+08,57475.0,141630546.0,9157465.0,103667517.0,5599827.0,1762621.0,11839.0,100892507.0,...,3210296.0,9.186440e+08,322144898.0,227259853.0,104817905.0,6.131495e+08,2.452981e+08,7919.0,3.193429e+09,1022000.0
4,1964,8.197161e+08,58178.0,145605995.0,9355514.0,105959979.0,5673199.0,1814135.0,12690.0,103618568.0,...,3273419.0,9.412057e+08,326946310.0,233646719.0,107577280.0,6.278675e+08,2.515660e+08,7949.0,3.260442e+09,1050000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,2019,1.236710e+09,106442.0,667242986.0,37769499.0,454306063.0,32353588.0,2854191.0,76343.0,441467739.0,...,16126866.0,2.080649e+09,460092452.0,629515571.0,400574097.0,1.861599e+09,1.121549e+09,30610.0,7.741775e+09,1788878.0
60,2020,1.241719e+09,106585.0,685112979.0,38972230.0,466189102.0,33428486.0,2837849.0,77700.0,449228296.0,...,16644701.0,2.090524e+09,461273023.0,634680385.0,407006855.0,1.882532e+09,1.151302e+09,30910.0,7.820206e+09,1790133.0
61,2021,1.241269e+09,106537.0,702977106.0,40099462.0,478185907.0,34503774.0,2811666.0,79034.0,456520777.0,...,17179740.0,2.097669e+09,462431038.0,639188695.0,413124452.0,1.901912e+09,1.181163e+09,31122.0,7.888306e+09,1786038.0
62,2022,1.244365e+09,106445.0,720859132.0,41128771.0,490330870.0,35588987.0,2777689.0,79824.0,464684914.0,...,17723315.0,2.103055e+09,457549063.0,643602758.0,419284769.0,1.919348e+09,1.211190e+09,31305.0,7.950947e+09,1761985.0
63,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Data Preprocessing

In [12]:
# Converting 'Population' values to integers for non-null values (avoiding values like 1.244365e+09)
df = df.applymap(lambda x: '{:.0f}'.format(x) if isinstance(x, float) and not pd.isnull(x) else x)

# Drop last column & 'Unnamed: 1' column 
df = df.iloc[:-1, :]  
df.drop(columns=['Unnamed: 1'], inplace=True)

df

/var/folders/3k/h_8y0nt170n2mq2xs2fc_41c0000gn/T/ipykernel_12052/982155790.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: '{:.0f}'.format(x) if isinstance(x, float) and not pd.isnull(x) else x)

,Year,ABW,AFE,AFG,AFW,AGO,ALB,AND,ARB,ARG,...,TCD,TEA,TEC,TLA,TMN,TSA,TSS,VGB,WLD,XKX
0,1960,54608,130692579,8622466,97256290,5357195,1608800,9443,93359407,20349744,...,3028688,884811163,307910628,208929539,97179656,571192428,227948869,7850,3031474234,947000
1,1961,55811,134169237,8790140,99314028,5441333,1659800,10216,95760348,20680653,...,3087657,884080493,312638061,214886940,99620285,584794755,233483265,7885,3072421801,966000
2,1962,56682,137835590,8969047,101445032,5521400,1711319,11014,98268683,21020359,...,3148242,895683380,317365322,221002830,102159899,598784274,239280622,7902,3126849612,994000
3,1963,57475,141630546,9157465,103667517,5599827,1762621,11839,100892507,21364017,...,3210296,918644019,322144898,227259853,104817905,613149540,245298063,7919,3193428894,1022000
4,1964,58178,145605995,9355514,105959979,5673199,1814135,12690,103618568,21708487,...,3273419,941205716,326946310,233646719,107577280,627867470,251565974,7949,3260441925,1050000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,2018,105962,649757148,36686784,442646825,31273533,2866376,75013,432545676,44494502,...,15604210,2068898629,458211234,623841282,393806257,1840534093,1092403973,30335,7660371127,1797085
59,2019,106442,667242986,37769499,454306063,32353588,2854191,76343,441467739,44938712,...,16126866,2080648616,460092452,629515571,400574097,1861598514,1121549049,30610,7741774583,1788878
60,2020,106585,685112979,38972230,466189102,33428486,2837849,77700,449228296,45376763,...,16644701,2090523535,461273023,634680385,407006855,1882531620,1151302081,30910,7820205606,1790133
61,2021,106537,702977106,40099462,478185907,34503774,2811666,79034,456520777,45808747,...,17179740,2097669023,462431038,639188695,413124452,1901911604,1181163013,31122,7888305693,1786038
62,2022,106445,720859132,41128771,490330870,35588987,2777689,79824,464684914,46234830,...,17723315,2103055378,457549063,643602758,419284769,1919348000,1211190002,31305,7950946801,1761985

In [13]:
# Code snippet for converting column names from region codes to region names for better comprehension (IND -> India) 

# Fetch country information from the World Bank API
url = "http://api.worldbank.org/v2/country?per_page=300&format=json"
response = requests.get(url)
countries_data = response.json()

# Extract relevant data
countries = {country['id']: country['name'] for country in countries_data[1] if country['id'] != 'WLD'}
# World
countries['WLD'] = 'World'

# Replace country codes with country names
df.columns = [countries.get(col, col) for col in df.columns]

In [14]:
print(f'Mapping of Codes to Countries: \n {countries}')

Mapping of Codes to Countries:
 {'ABW': 'Aruba', 'AFE': 'Africa Eastern and Southern', 'AFG': 'Afghanistan', 'AFR': 'Africa', 'AFW': 'Africa Western and Central', 'AGO': 'Angola', 'ALB': 'Albania', 'AND': 'Andorra', 'ARB': 'Arab World', 'ARE': 'United Arab Emirates', 'ARG': 'Argentina', 'ARM': 'Armenia', 'ASM': 'American Samoa', 'ATG': 'Antigua and Barbuda', 'AUS': 'Australia', 'AUT': 'Austria', 'AZE': 'Azerbaijan', 'BDI': 'Burundi', 'BEA': 'East Asia & Pacific (IBRD-only countries)', 'BEC': 'Europe & Central Asia (IBRD-only countries)', 'BEL': 'Belgium', 'BEN': 'Benin', 'BFA': 'Burkina Faso', 'BGD': 'Bangladesh', 'BGR': 'Bulgaria', 'BHI': 'IBRD countries classified as high income', 'BHR': 'Bahrain', 'BHS': 'Bahamas, The', 'BIH': 'Bosnia and Herzegovina', 'BLA': 'Latin America & the Caribbean (IBRD-only countries)', 'BLR': 'Belarus', 'BLZ': 'Belize', 'BMN': 'Middle East & North Africa (IBRD-only countries)', 'BMU': 'Bermuda', 'BOL': 'Bolivia', 'BRA': 'Brazil', 'BRB': 'Barbados', 'BRN': 'Brunei Darussalam', 'BSS': 'Sub-Saharan Africa (IBRD-only countries)', 'BTN': 'Bhutan', 'BWA': 'Botswana', 'CAA': 'Sub-Saharan Africa (IFC classification)', 'CAF': 'Central African Republic', 'CAN': 'Canada', 'CEA': 'East Asia and the Pacific (IFC classification)', 'CEB': 'Central Europe and the Baltics', 'CEU': 'Europe and Central Asia (IFC classification)', 'CHE': 'Switzerland', 'CHI': 'Channel Islands', 'CHL': 'Chile', 'CHN': 'China', 'CIV': "Cote d'Ivoire", 'CLA': 'Latin America and the Caribbean (IFC classification)', 'CME': 'Middle East and North Africa (IFC classification)', 'CMR': 'Cameroon', 'COD': 'Congo, Dem. Rep.', 'COG': 'Congo, Rep.', 'COL': 'Colombia', 'COM': 'Comoros', 'CPV': 'Cabo Verde', 'CRI': 'Costa Rica', 'CSA': 'South Asia (IFC classification)', 'CSS': 'Caribbean small states', 'CUB': 'Cuba', 'CUW': 'Curacao', 'CYM': 'Cayman Islands', 'CYP': 'Cyprus', 'CZE': 'Czechia', 'DEA': 'East Asia & Pacific (IDA-eligible countries)', 'DEC': 'Europe & Central Asia (IDA-eligible countries)', 'DEU': 'Germany', 'DJI': 'Djibouti', 'DLA': 'Latin America & the Caribbean (IDA-eligible countries)', 'DMA': 'Dominica', 'DMN': 'Middle East & North Africa (IDA-eligible countries)', 'DNK': 'Denmark', 'DNS': 'IDA countries in Sub-Saharan Africa not classified as fragile situations ', 'DOM': 'Dominican Republic', 'DSA': 'South Asia (IDA-eligible countries)', 'DSF': 'IDA countries in Sub-Saharan Africa classified as fragile situations ', 'DSS': 'Sub-Saharan Africa (IDA-eligible countries)', 'DZA': 'Algeria', 'EAP': 'East Asia & Pacific (excluding high income)', 'EAR': 'Early-demographic dividend', 'EAS': 'East Asia & Pacific', 'ECA': 'Europe & Central Asia (excluding high income)', 'ECS': 'Europe & Central Asia', 'ECU': 'Ecuador', 'EGY': 'Egypt, Arab Rep.', 'EMU': 'Euro area', 'ERI': 'Eritrea', 'ESP': 'Spain', 'EST': 'Estonia', 'ETH': 'Ethiopia', 'EUU': 'European Union', 'FCS': 'Fragile and conflict affected situations', 'FIN': 'Finland', 'FJI': 'Fiji', 'FRA': 'France', 'FRO': 'Faroe Islands', 'FSM': 'Micronesia, Fed. Sts.', 'FXS': 'IDA countries classified as fragile situations, excluding Sub-Saharan Africa', 'GAB': 'Gabon', 'GBR': 'United Kingdom', 'GEO': 'Georgia', 'GHA': 'Ghana', 'GIB': 'Gibraltar', 'GIN': 'Guinea', 'GMB': 'Gambia, The', 'GNB': 'Guinea-Bissau', 'GNQ': 'Equatorial Guinea', 'GRC': 'Greece', 'GRD': 'Grenada', 'GRL': 'Greenland', 'GTM': 'Guatemala', 'GUM': 'Guam', 'GUY': 'Guyana', 'HIC': 'High income', 'HKG': 'Hong Kong SAR, China', 'HND': 'Honduras', 'HPC': 'Heavily indebted poor countries (HIPC)', 'HRV': 'Croatia', 'HTI': 'Haiti', 'HUN': 'Hungary', 'IBB': 'IBRD, including blend', 'IBD': 'IBRD only', 'IBT': 'IDA & IBRD total', 'IDA': 'IDA total', 'IDB': 'IDA blend', 'IDN': 'Indonesia', 'IDX': 'IDA only', 'IMN': 'Isle of Man', 'IND': 'India', 'INX': 'Not classified', 'IRL': 'Ireland', 'IRN': 'Iran, Islamic Rep.', 'IRQ': 'Iraq', 'ISL': 'Iceland', 'ISR': 'Israel', 'ITA': 'Italy', 'JAM': 'Jamaica', 'JOR': 'Jordan', 'JPN': 'Japan', 'KAZ': 'Kazakhstan', 'KEN': 'Kenya', 'KGZ': 'Kyrgyz Republic', 'KHM': 'Cambodia', 'KIR': 'Kiribati', 'KNA': 'St. Kitts and Nevis', 'KOR': 'Korea, Rep.', 'KWT': 'Kuwait', 'LAC': 'Latin America & Caribbean (excluding high income)', 'LAO': 'Lao PDR', 'LBN': 'Lebanon', 'LBR': 'Liberia', 'LBY': 'Libya', 'LCA': 'St. Lucia', 'LCN': 'Latin America & Caribbean ', 'LDC': 'Least developed countries: UN classification', 'LIC': 'Low income', 'LIE': 'Liechtenstein', 'LKA': 'Sri Lanka', 'LMC': 'Lower middle income', 'LMY': 'Low & middle income', 'LSO': 'Lesotho', 'LTE': 'Late-demographic dividend', 'LTU': 'Lithuania', 'LUX': 'Luxembourg', 'LVA': 'Latvia', 'MAC': 'Macao SAR, China', 'MAF': 'St. Martin (French part)', 'MAR': 'Morocco', 'MCO': 'Monaco', 'MDA': 'Moldova', 'MDE': 'Middle East (developing only)', 'MDG': 'Madagascar', 'MDV': 'Maldives', 'MEA': 'Middle East & North Africa', 'MEX': 'Mexico', 'MHL': 'Marshall Islands', 'MIC': 'Middle income', 'MKD': 'North Macedonia', 'MLI': 'Mali', 'MLT': 'Malta', 'MMR': 'Myanmar', 'MNA': 'Middle East & North Africa (excluding high income)', 'MNE': 'Montenegro', 'MNG': 'Mongolia', 'MNP': 'Northern Mariana Islands', 'MOZ': 'Mozambique', 'MRT': 'Mauritania', 'MUS': 'Mauritius', 'MWI': 'Malawi', 'MYS': 'Malaysia', 'NAC': 'North America', 'NAF': 'North Africa', 'NAM': 'Namibia', 'NCL': 'New Caledonia', 'NER': 'Niger', 'NGA': 'Nigeria', 'NIC': 'Nicaragua', 'NLD': 'Netherlands', 'NOR': 'Norway', 'NPL': 'Nepal', 'NRS': 'Non-resource rich Sub-Saharan Africa countries', 'NRU': 'Nauru', 'NXS': 'IDA countries not classified as fragile situations, excluding Sub-Saharan Africa', 'NZL': 'New Zealand', 'OED': 'OECD members', 'OMN': 'Oman', 'OSS': 'Other small states', 'PAK': 'Pakistan', 'PAN': 'Panama', 'PER': 'Peru', 'PHL': 'Philippines', 'PLW': 'Palau', 'PNG': 'Papua New Guinea', 'POL': 'Poland', 'PRE': 'Pre-demographic dividend', 'PRI': 'Puerto Rico', 'PRK': "Korea, Dem. People's Rep.", 'PRT': 'Portugal', 'PRY': 'Paraguay', 'PSE': 'West Bank and Gaza', 'PSS': 'Pacific island small states', 'PST': 'Post-demographic dividend', 'PYF': 'French Polynesia', 'QAT': 'Qatar', 'ROU': 'Romania', 'RRS': 'Resource rich Sub-Saharan Africa countries', 'RUS': 'Russian Federation', 'RWA': 'Rwanda', 'SAS': 'South Asia', 'SAU': 'Saudi Arabia', 'SDN': 'Sudan', 'SEN': 'Senegal', 'SGP': 'Singapore', 'SLB': 'Solomon Islands', 'SLE': 'Sierra Leone', 'SLV': 'El Salvador', 'SMR': 'San Marino', 'SOM': 'Somalia', 'SRB': 'Serbia', 'SSA': 'Sub-Saharan Africa (excluding high income)', 'SSD': 'South Sudan', 'SSF': 'Sub-Saharan Africa ', 'SST': 'Small states', 'STP': 'Sao Tome and Principe', 'SUR': 'Suriname', 'SVK': 'Slovak Republic', 'SVN': 'Slovenia', 'SWE': 'Sweden', 'SWZ': 'Eswatini', 'SXM': 'Sint Maarten (Dutch part)', 'SXZ': 'Sub-Saharan Africa excluding South Africa', 'SYC': 'Seychelles', 'SYR': 'Syrian Arab Republic', 'TCA': 'Turks and Caicos Islands', 'TCD': 'Chad', 'TEA': 'East Asia & Pacific (IDA & IBRD countries)', 'TEC': 'Europe & Central Asia (IDA & IBRD countries)', 'TGO': 'Togo', 'THA': 'Thailand', 'TJK': 'Tajikistan', 'TKM': 'Turkmenistan', 'TLA': 'Latin America & the Caribbean (IDA & IBRD countries)', 'TLS': 'Timor-Leste', 'TMN': 'Middle East & North Africa (IDA & IBRD countries)', 'TON': 'Tonga', 'TSA': 'South Asia (IDA & IBRD)', 'TSS': 'Sub-Saharan Africa (IDA & IBRD countries)', 'TTO': 'Trinidad and Tobago', 'TUN': 'Tunisia', 'TUR': 'Turkiye', 'TUV': 'Tuvalu', 'TZA': 'Tanzania', 'UGA': 'Uganda', 'UKR': 'Ukraine', 'UMC': 'Upper middle income', 'URY': 'Uruguay', 'USA': 'United States', 'UZB': 'Uzbekistan', 'VCT': 'St. Vincent and the Grenadines', 'VEN': 'Venezuela, RB', 'VGB': 'British Virgin Islands', 'VIR': 'Virgin Islands (U.S.)', 'VNM': 'Viet Nam', 'VUT': 'Vanuatu', 'WSM': 'Samoa', 'XKX': 'Kosovo', 'XZN': 'Sub-Saharan Africa excluding South Africa and Nigeria', 'YEM': 'Yemen, Rep.', 'ZAF': 'South Africa', 'ZMB': 'Zambia', 'ZWE': 'Zimbabwe', 'WLD': 'World'}

In [15]:
df

,Year,Aruba,Africa Eastern and Southern,Afghanistan,Africa Western and Central,Angola,Albania,Andorra,Arab World,Argentina,...,Chad,East Asia & Pacific (IDA & IBRD countries),Europe & Central Asia (IDA & IBRD countries),Latin America & the Caribbean (IDA & IBRD countries),Middle East & North Africa (IDA & IBRD countries),South Asia (IDA & IBRD),Sub-Saharan Africa (IDA & IBRD countries),British Virgin Islands,World,Kosovo
0,1960,54608,130692579,8622466,97256290,5357195,1608800,9443,93359407,20349744,...,3028688,884811163,307910628,208929539,97179656,571192428,227948869,7850,3031474234,947000
1,1961,55811,134169237,8790140,99314028,5441333,1659800,10216,95760348,20680653,...,3087657,884080493,312638061,214886940,99620285,584794755,233483265,7885,3072421801,966000
2,1962,56682,137835590,8969047,101445032,5521400,1711319,11014,98268683,21020359,...,3148242,895683380,317365322,221002830,102159899,598784274,239280622,7902,3126849612,994000
3,1963,57475,141630546,9157465,103667517,5599827,1762621,11839,100892507,21364017,...,3210296,918644019,322144898,227259853,104817905,613149540,245298063,7919,3193428894,1022000
4,1964,58178,145605995,9355514,105959979,5673199,1814135,12690,103618568,21708487,...,3273419,941205716,326946310,233646719,107577280,627867470,251565974,7949,3260441925,1050000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,2018,105962,649757148,36686784,442646825,31273533,2866376,75013,432545676,44494502,...,15604210,2068898629,458211234,623841282,393806257,1840534093,1092403973,30335,7660371127,1797085
59,2019,106442,667242986,37769499,454306063,32353588,2854191,76343,441467739,44938712,...,16126866,2080648616,460092452,629515571,400574097,1861598514,1121549049,30610,7741774583,1788878
60,2020,106585,685112979,38972230,466189102,33428486,2837849,77700,449228296,45376763,...,16644701,2090523535,461273023,634680385,407006855,1882531620,1151302081,30910,7820205606,1790133
61,2021,106537,702977106,40099462,478185907,34503774,2811666,79034,456520777,45808747,...,17179740,2097669023,462431038,639188695,413124452,1901911604,1181163013,31122,7888305693,1786038
62,2022,106445,720859132,41128771,490330870,35588987,2777689,79824,464684914,46234830,...,17723315,2103055378,457549063,643602758,419284769,1919348000,1211190002,31305,7950946801,1761985

In [16]:
df[['Year', 'India', 'World']]

    Year       India       World
0   1960   445954579  3031474234
1   1961   456351876  3072421801
2   1962   467024193  3126849612
3   1963   477933619  3193428894
4   1964   489059309  3260441925
..   ...         ...         ...
58  2018  1369003306  7660371127
59  2019  1383112050  7741774583
60  2020  1396387127  7820205606
61  2021  1407563842  7888305693
62  2022  1417173173  7950946801

[63 rows x 3 columns]

### Export the data

In [17]:
df.to_csv(csv_file_path)